#root {
    margin: 0 auto;
    position: relative;
}

@media (prefers-color-scheme: dark) {
    .navbar {
        background: #313131;
        color: white;
    }
}

@media (prefers-color-scheme: light) {
    .navbar {
        background: gray;
        color: black;
    }
}

.navbar-button {
    width: fit-content;
}

.nav-list {
    display: inline-flex;
    list-style: none;
    padding: 10px;
    margin: 0%;
    margin-left: 5px;
}

.nav-link:hover {
    background-color: #65C3BB;
    color: black;
    transition: linear 200ms;
}
