.calendar-table {
    border-collapse: collapse;
    margin: 10px;
}

.day-text {
    padding: 5px;
    position: relative;
}

td {
    color: white;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align: text-top;
    height: 120px;
    width: 120px;
}

td:hover {
    background: gray;
    transition: linear 100ms;
}

table:first-child {
    border-top: 1px solid gray;
}

tr {
    border-left: 1px solid gray;
}
