.popup-list {
    list-style-type: none;
    padding: 20px;
}

.popup-list-item {
    border-radius: 5px;
    background: rgb(75, 75, 75);
    width: auto;
    padding: 10px;
}

.round input[type="checkbox"] {
    border: 1px solid aqua;
    cursor: pointer;
    border-radius: 50%;
    background: white;
}

.round input[type="checkbox"]:checked {
    color: aqua;
}
